# python -m chainlit run app/ui/chainlit_app.py

# LLM
google-generativeai
langchain-google-genai

# Agent Framework
langgraph
langchain-core
langchain-community

# Frontend
chainlit

# Vector DB
qdrant-client

# Embeddings
sentence-transformers
FlagEmbedding

# Document Processing
pymupdf
unstructured
python-docx

# Memory
mem0ai

# Utilities
python-dotenv
pydantic
pydantic-settings
pyarrow
tavily-python
torch
torchvision
torchaudio
